<h1>New addition</h1>

<form action="/wizard_add">
  <label for="form_first_number">Add this:</label>
  <input id="form_first_number" type="text" name="first_number">

  <label for="form_second_number">to this:</label>
  <input id="form_second_number" type="text" name="second_number">

  <button>Add!</button>
</form>
