<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="sub_first_number">Subtract this:</label>
  <input id="sub_first_number" type="text" name="first_num">

  <label for="sub_second_number">from this:</label>
  <input id="sub_second_number" type="text" name="second_num">

  <button>Subtract!</button>
</form>
